.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.portfolio__item {
  /* background: var(--color-bg-variant); */
  background: #142833;
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  margin: 0.5rem;
}

.portfolio__item:hover {
  /* border-color: var(--color-primary-variant); */
  border-color: #142833;
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}

.details_button {
  margin-left: 0.5rem;
  background: #80a61f;
  color: black;
  width: 6rem;
  height: 3rem;
}

body.no-scroll {
  overflow: hidden;
}

.disabled-button {
  pointer-events: none;
  opacity: 0.5;
}

.disabled-button:hover {
  cursor: not-allowed;
}


/*** Media Queries (Medium Devices) **** */

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/*** Media Queries (Small Devices) **** */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}