.research__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.research__item {
  padding: 1rem;
}

.research__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.margin_related {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.add_margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.accepted_color {
  color: #2aff00;
}

.pending_color {
  color: #ffff0a;
}