.experience__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.experience__container>img {
  display: block;
  width: 100%;
  width: 11rem;
  height: 10rem;
}

.experience__details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.achv_img_size {
  border-radius: 50%;
  object-fit: unset;
  background: white;
  height: 3rem !important;
}

h4 {
  margin: 10px 0;
}

/*** Media Queries (Medium Devices) **** */

@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }

  .experience__container>div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience__content {
    padding: 1rem;
  }
}

/*** Media Queries (Small Devices) **** */
@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }

  .experience__content {
    grid-template-columns: repeat(3, 1fr);
  }

  .experience__container>div {
    width: 100%;
    padding: 2rem 1rem;
  }
}